# Database
DATABASE_URL=postgresql+asyncpg://USER:PASSWORD@localhost/alltransfer

# JWT
JWT_SECRET_KEY=
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=1440

# Telegram
TELEGRAM_BOT_TOKEN=
TELEGRAM_BOT_SECRET=
TELEGRAM_CHANNEL_ID=-1002901854857

# YooKassa
YOKASSA_TOKEN_LIVE=

# API
API_V1_PREFIX=/api/v1
PROJECT_NAME=AllTransfer API
